#email{
    display: block;
}

#fname{
    display: block;
}

#lname{
    display: block;
}

#password{
    display: block;
}

#rb{
    display: block;
}

#rb2{
    display: block;
}

#rb3{
    display: block;
}

#birthday{
    display: block;
}